@page "/hobby"
@rendermode InteractiveServer

<PageTitle>HobbyEditor</PageTitle>

<div class="container-fluid">
    <a href="">Back</a>
    <h1 class="text-center">What are you interested in?</h1>

    <div class="input-group">
        <span class="input-group-text" id="hobby-search-addon"><span class="bi bi-search"></span></span>
        <input type="text" class="form-control" placeholder="Search for hobbies..." aria-label="Search"
            aria-describedby="hobby-search-addon">
    </div>

    <div id="myHobbies" class="d-flex justify-content-around">
        @foreach (var hobby in myHobbies)
            {
                @* <button class="btn rounded-pill my-hobby">
                    @hobby
                </button > *@
                <button 
                    @onclick="(() => RemoveHobby(hobby))"
                    class="btn rounded-pill @(myHobbies.Contains(hobby) ? myHobbyClass : otherHobbyClass)">
                    @hobby
                </button >
            }
    </div>

    <div id="otherHobbies" class="d-flex justify-content-around ">
        @foreach (var hobby in otherHobbies)
            {
                <button 
                    @onclick="(() => AddHobby(hobby))"
                    class="btn rounded-pill @(otherHobbies.Contains(hobby) ? otherHobbyClass : myHobbyClass)">
                    @hobby
                </button >
            }
    </div>

</div>


@code {

    // Most of the code here will need to be updated to take in Hobby objects instead of strings

    private string myHobbyClass = "btn rounded-pill my-hobby";

    private string otherHobbyClass = "btn rounded-pill other-hobby";
    // Test data for now
    private List<string> myHobbies = new List<string> {"Soccer", "Painting", "Piano"};

    // Test data for now
    private List<string> otherHobbies = new List<string> {"Camping", "Running", "Baseball", "Pottery", "Tennis"};

    private void RemoveHobby(string hobby){
        myHobbies.Remove(hobby);
        otherHobbies.Add(hobby);
    }

    private void AddHobby(string hobby){
        otherHobbies.Remove(hobby);
        myHobbies.Add(hobby);
    }

}