@page "/hobby"
@attribute [Authorize]
@using BlazorServer.Components.Account
@using BlazorServer.Data
@rendermode InteractiveServer
@using BlazorServer.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inject HobbyService hobbyService
@inject IUserService userService
@inject ApplicationDbContext Db
@inject IdentityUserAccessor UserAccessor
@inject AuthenticationStateProvider authProvider

<PageTitle>HobbyEditor</PageTitle>

<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <a href="/Account/Manage/Hobbies">Back</a>
    <button type="button" class="btn btn-primary" disabled=@noChanges @onclick="SaveChanges">Save Hobbies</button>
    </div>

    <h1 class="text-center"> What are you interested in?</h1>

    <div class="input-group">
        <span class="input-group-text" id="hobby-search-addon"><span class="bi bi-search"></span></span>
        <input type="text" class="form-control" placeholder="Search for hobbies..." aria-label="Search"
            aria-describedby="hobby-search-addon" @bind-value="SearchText" @bind-value:event="oninput">
    </div>


    <div id="myHobbies" class="d-flex justify-content-around flex-wrap">
        @foreach (var hobby in myHobbies)
        {
            <button type="button" @onclick="(() => RemoveHobby(hobby))"
                class="btn rounded-pill @(myHobbies.Contains(hobby) ? myHobbyClass : otherHobbyClass)">
                @hobby.HobbyName
            </button>
        }
    </div>


    <div class="d-flex justify-content-around flex-wrap">
        @foreach (var hobby in filteredHobbies)
        {
            <button type="button" @onclick="(() => AddHobby(hobby))"
                class="btn rounded-pill @(otherHobbies.Contains(hobby) ? otherHobbyClass : myHobbyClass)">
                @hobby.HobbyName
            </button>
        }

    </div>

</div>


@code {

    private ApplicationUser? dbUser = null;

    private string myHobbyClass = "btn rounded-pill my-hobby";

    private string otherHobbyClass = "btn rounded-pill other-hobby";

    private bool noChanges = true;

    private List<Hobby> myHobbies = new List<Hobby>();

    private List<Hobby> otherHobbies = new List<Hobby>();

    private void RemoveHobby(Hobby hobby)
    {
        myHobbies.Remove(hobby);
        otherHobbies.Add(hobby);
        noChanges = false;
    }

    private void AddHobby(Hobby hobby)
    {
        otherHobbies.Remove(hobby);
        myHobbies.Add(hobby);
        noChanges = false;
    }

    private async Task SaveChanges()
    {
        if (dbUser == null)
        {
            return;
        }

        dbUser.Hobbies = myHobbies;
        await Db.SaveChangesAsync();
        noChanges = true;
    }

    public string SearchText = "";

    private List<Hobby> filteredHobbies => otherHobbies.Where(
    hobby => hobby.HobbyName.ToLower().Contains(SearchText.ToLower())
    ).ToList();

    protected override async Task OnInitializedAsync()
    {

            dbUser = await userService.GetCurrentUser(authProvider, Db);

            if (dbUser != null){
                            myHobbies = dbUser.Hobbies?.ToList() ?? new List<Hobby>();
            Console.WriteLine("my hobbies = " + myHobbies.Count);
            var dbHobbies = await hobbyService.GetHobbiesAsync();

            otherHobbies = dbHobbies.Where(hobby => !myHobbies.Contains(hobby) ).ToList();
            }
            
    }

}