.divider {
    border: none;
    border-top: 1px solid #bbb;
    margin: 0.5rem 0;
}

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 1rem;
}
