@using BlazorServer.Data
@using BlazorServer.Services

@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@inject IUserService userService


<div class="card mb-3 me-3" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><b> @ProfileUser.DisplayName </b></h5>
    <div class="row g-0">
      <div class="col-md-6"> <img class="card-img-top position-absolute rounded" style="width:130px;height:130px;object-fit:cover;" src=@(ProfileUser.ProfilePictureURL ?? userService.DefaultUser.ProfilePictureURL) alt="User profile picture">
      </div>
      <div class="col-md-6 d-grid gap-2">
        <button class="btn rounded-pill hobby text-truncate">@(ProfileUser.FavoriteHobby1?.HobbyName ?? "No 1st hobby")</button>
        <button class="btn rounded-pill hobby text-truncate">@(ProfileUser.FavoriteHobby2?.HobbyName ?? "No 2nd hobby")</button>
        <button class="btn rounded-pill hobby text-truncate">@(ProfileUser.FavoriteHobby3?.HobbyName ?? "No 3rd hobby")</button>
      </div>
    </div>
    <p class="card-text text-center mt-3">🙂 @matchPercent% match</p>

    <div class="text-center">
      <button class="btn btn-primary" @onclick="GoToProfile">See Profile</button>
    </div>
  </div>
</div>



@code {
  [Parameter]
  public required ApplicationUser ProfileUser { get; set; }

  [Parameter]
  public float matchPercent {get; set;}

  public string? SeeProfileRef { get; set; }

  protected override async Task OnInitializedAsync()
  {
    SeeProfileRef = $"/profile/{ProfileUser.UserName}";
  }

  public void GoToProfile(){
    NavigationManager.NavigateTo($"/profile/{ProfileUser.UserName}");
  }



  // need to define onclick function for the See Profile button

  // need to define a function to calculate the match percent



}