@page "/Account/Manage/Banner"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BlazorServer.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Data.Common

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext Db

<PageTitle>Profile</PageTitle>

<div class="row">
    <div class="col-xl-6">
        <h3>Banner</h3>
        <StatusMessage />
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <img src="@shownPfpUrl" class="rounded img-fluid" alt="Your banner"/>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.BannerUrl" id="Input.BannerUrl" class="form-control" placeholder="Link to your Banner" />
                <label for="Input.BannerUrl" class="form-label">Banner URL</label>
                <ValidationMessage For="() => Input.BannerUrl" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;

    private string? shownPfpUrl;
    private string? cachedPfpUrl;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        cachedPfpUrl = user.BannerURL;

        Input.BannerUrl ??= cachedPfpUrl;
        shownPfpUrl = Input.BannerUrl ?? "banner/bg3.png";
    }

    private async Task OnValidSubmitAsync()
    {
        List<Action<ApplicationUser>> updateQueue = new();

        if (Input.BannerUrl != cachedPfpUrl) 
        {
            updateQueue.Add(dbUser => dbUser.BannerURL = Input.BannerUrl);
            shownPfpUrl = cachedPfpUrl;
        }

        await UpdateDbUser(updateQueue);
    }

    private async Task UpdateDbUser(List<Action<ApplicationUser>> updateQueue) {
        bool anyChanges = updateQueue.Count() != 0;

        if (anyChanges)
        {
            try {
                ApplicationUser dbUser = await Db.Users.FindAsync(user.Id) ?? throw new NullReferenceException();
                
                updateQueue.ForEach(action => action.Invoke(dbUser));

                await Db.SaveChangesAsync();
            }
            catch (Exception ex) when (ex is DbUpdateException or NullReferenceException)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update banner.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated.", HttpContext);
    }

    private sealed class InputModel
    {
        [DataType(DataType.ImageUrl)]
        [Display(Name = "Banner URL")]
        public string? BannerUrl { get; set; }
    }
}