@page "/Account/Manage/Banner"

@using System.ComponentModel.DataAnnotations
@using BlazorServer.Services
@using Microsoft.AspNetCore.Identity
@using BlazorServer.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Data.Common

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext Db
@inject IUserService userService

<PageTitle>Profile</PageTitle>

<div class="row">
    <div class="col-xl-6">
        <h3>Banner</h3>
        <StatusMessage />
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <img src="@shownBannerUrl" class="rounded img-fluid" alt=@Input.BannerUrl/>
            </div>

            <InputSelect 
                id="defaultPfp" 
                class="form-select flex-grow-1 py-3 mb-3"
                @bind-Value="Input.BannerUrl"
            >
                @if (allowCustomBanners) 
                {
                    <option>
                        Custom
                    </option>
                }

                @foreach (FileInfo banner in defaultBanners) 
                {
                    <option value=@GetBannerPath(banner.Name)>
                        @banner.Name
                    </option>
                }
            </InputSelect>

            @if (allowCustomBanners) 
            {
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.CustomUrl" id="customBanner" class="form-control" placeholder="images.com/img" />
                    <label for="customBanner" class="form-label">Provide your own URL</label>
                    <ValidationMessage For="() => Input.CustomUrl" class="text-danger" />
                </div>
            }

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;

    private string? shownBannerUrl;
    private string? cachedBannerUrl;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private ApplicationUser? DefaultUser => userService.DefaultUser;

    private List<FileInfo> defaultBanners = [];

    private bool allowCustomBanners;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        cachedBannerUrl = user.BannerURL;

        DirectoryInfo bannerDir = new DirectoryInfo("wwwroot/banner");
        defaultBanners = bannerDir.EnumerateFiles().ToList();

        allowCustomBanners = user.BcitEmailIsVerified;   

        Input.BannerUrl ??= cachedBannerUrl ?? DefaultUser?.BannerURL;
        Input.CustomUrl = UserHasDefaultBanner() ? null : Input.CustomUrl;

        Input.BannerUrl = Input.CustomUrl is null ? Input.BannerUrl : Input.CustomUrl;

        shownBannerUrl = Input.BannerUrl ?? "banner/bg3.png";
    }

    public static string GetBannerPath(string fileName) 
    {
        return $"banner/{fileName}";
    }

    private bool UserHasDefaultBanner() 
    {
        IEnumerable<string>? defaultPaths = defaultBanners.Select(
            file => GetBannerPath(file.Name)
        );
        
        bool usesDefaultBanner = defaultPaths.Contains(Input.BannerUrl);
        
        return usesDefaultBanner;
    }

    private async Task OnValidSubmitAsync()
    {
        List<Action<ApplicationUser>> updateQueue = new();

        if (Input.BannerUrl != cachedBannerUrl) 
        {
            updateQueue.Add(dbUser => dbUser.BannerURL = Input.BannerUrl);
            shownBannerUrl = Input.BannerUrl;
        }

        await UpdateDbUser(updateQueue);
    }

    private async Task UpdateDbUser(List<Action<ApplicationUser>> updateQueue) {
        bool anyChanges = updateQueue.Count() != 0;

        if (anyChanges)
        {
            try {
                ApplicationUser dbUser = await Db.Users.FindAsync(user.Id) ?? throw new NullReferenceException();
                
                updateQueue.ForEach(action => action.Invoke(dbUser));

                await Db.SaveChangesAsync();
            }
            catch (Exception ex) when (ex is DbUpdateException or NullReferenceException)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update banner.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated.", HttpContext);
    }

    private sealed class InputModel
    {
        [DataType(DataType.ImageUrl)]
        [Display(Name = "Default Banner URL")]
        public string? BannerUrl { get; set; }

        [DataType(DataType.ImageUrl)]
        [Display(Name = "Custom Banner URL")]
        public string? CustomUrl { get; set; }
    }
}