@page "/Account/Manage/ProfilePicture"

@using System.ComponentModel.DataAnnotations
@using BlazorServer.Services
@using Microsoft.AspNetCore.Identity
@using BlazorServer.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Data.Common

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext Db
@inject IUserService userService

<PageTitle>Profile</PageTitle>

<div class="row">
    <div class="col-xl-6">
        <h3>Profile Picture</h3>
        <StatusMessage />
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <img src="@shownPfpUrl" class="rounded img-fluid" alt=@Input.ProfilePictureUrl/>
            </div>
            
            <InputSelect 
                id="defaultPfp" 
                class="form-select flex-grow-1 py-3 mb-3"
                @bind-Value="Input.ProfilePictureUrl"
            >
                @foreach (FileInfo pfp in defaultPfps) 
                {
                    <option value=@GetPfpPath(pfp.Name)>@pfp.Name</option>
                }
            </InputSelect>

            @* @if (allowCustomPfps) 
            {
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.ProfilePictureUrl" id="customPfp" class="form-control" placeholder="Link to your PFP" />
                    <label for="customPfp" class="form-label">Profile Picture URL</label>
                    <ValidationMessage For="() => Input.ProfilePictureUrl" class="text-danger" />
                </div>
            } *@
            
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;

    private string? shownPfpUrl;
    private string? cachedPfpUrl;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private ApplicationUser? DefaultUser => userService.DefaultUser;

    private List<FileInfo> defaultPfps = [];

    private bool allowCustomPfps;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        cachedPfpUrl = user.ProfilePictureURL;

        Input.ProfilePictureUrl ??= cachedPfpUrl;
        shownPfpUrl = Input.ProfilePictureUrl ?? "pfp/finally.jpg";

        allowCustomPfps = user.BcitEmailIsVerified;

        DirectoryInfo pfpDir = new DirectoryInfo("wwwroot/pfp");
        defaultPfps = pfpDir.EnumerateFiles().ToList();
    }

    private string GetPfpPath(string fileName) 
    {
        return $"pfp/{fileName}";
    }

    private async Task OnValidSubmitAsync()
    {
        List<Action<ApplicationUser>> updateQueue = new();

        if (Input.ProfilePictureUrl != cachedPfpUrl) 
        {
            updateQueue.Add(dbUser => dbUser.ProfilePictureURL = Input.ProfilePictureUrl);
            shownPfpUrl = Input.ProfilePictureUrl;
        }

        await UpdateDbUser(updateQueue);
    }

    private async Task UpdateDbUser(List<Action<ApplicationUser>> updateQueue) {
        bool anyChanges = updateQueue.Count() != 0;

        if (anyChanges)
        {
            try {
                ApplicationUser dbUser = await Db.Users.FindAsync(user.Id) ?? throw new NullReferenceException();
                
                updateQueue.ForEach(action => action.Invoke(dbUser));

                await Db.SaveChangesAsync();
            }
            catch (Exception ex) when (ex is DbUpdateException or NullReferenceException)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile picture.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated.", HttpContext);
    }

    private sealed class InputModel
    {
        [DataType(DataType.ImageUrl)]
        [Display(Name = "Profile Picture URL")]
        public string? ProfilePictureUrl { get; set; }
    }
}