@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BlazorServer.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Data.Common

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext Db

<PageTitle>Profile</PageTitle>

<div class="row">
    <div class="col-xl-6">
        <h3>Identity</h3>
        <StatusMessage />
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control" placeholder="Choose your username" disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.DisplayName" id="Input.DisplayName" class="form-control" placeholder="Choose your display name" />
                <label for="Input.DisplayName" class="form-label">Display name</label>
                <ValidationMessage For="() => Input.DisplayName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Country" id="Input.Country" class="form-control" placeholder="Choose your country" />
                <label for="Input.Country" class="form-label">Country</label>
                <ValidationMessage For="() => Input.Country" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? displayName;
    private string? country;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        username = user.UserName;
        displayName = user.DisplayName;
        country = user.Country;

        Input.DisplayName ??= displayName;
        Input.Country ??= country;
    }

    private async Task OnValidSubmitAsync()
    {
        List<Action<ApplicationUser>> updateQueue = new();

        if (string.IsNullOrWhiteSpace(Input.DisplayName)) {
            Input.DisplayName = null;
        }
        if (string.IsNullOrWhiteSpace(Input.Country)) {
            Input.Country = null;
        }

        if (Input.DisplayName != displayName) 
        {
            updateQueue.Add(dbUser => dbUser.DisplayName = Input.DisplayName);
        }
        if (Input.Country != country) 
        {
            updateQueue.Add(dbUser => dbUser.Country = Input.Country);
        }

        await UpdateDbUser(updateQueue);
    }

    private async Task UpdateDbUser(List<Action<ApplicationUser>> updateQueue) {
        bool anyChanges = updateQueue.Count() != 0;

        if (anyChanges)
        {
            try {
                ApplicationUser dbUser = await Db.Users.FindAsync(user.Id) ?? throw new NullReferenceException();
                
                updateQueue.ForEach(action => action.Invoke(dbUser));

                await Db.SaveChangesAsync();
            }
            catch (Exception ex) when (ex is DbUpdateException or NullReferenceException)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update identity.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated.", HttpContext);
    }

    private sealed class InputModel
    {
        [DataType(DataType.Text)]
        [Display(Name = "Display Name")]
        public string? DisplayName { get; set; }

        [DataType(DataType.Text)]
        [Display(Name = "Country")]
        public string? Country { get; set; }
    }
}
