name: Build and deploy Blazor Client to Azure

on:
  push:
    branches:
      - main
    paths:
      - "BlazorClient/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Publish Blazor Client
        run: dotnet publish BlazorClient/BlazorClient.csproj -c Release -o ${{env.DOTNET_ROOT}}/BlazorClient

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: blazor-client
          path: ${{env.DOTNET_ROOT}}/BlazorClient

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: blazor-client

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7AC5B03982FB4C07A8AA145E7D817002 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1906475E47924CBEB0FF45EA60A41833 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DE7508D4F8CB4A8FA4FEFFFD266A64C4 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'HobbyLobby'
          slot-name: 'Production'
          package: .

